<!-- 
<mat-tab-group>
    <mat-tab label="네이버 실시간 검색">
        <ng-template matTabContent>
        </ng-template>
    </mat-tab>
    <mat-tab label="오늘의 날씨">
        <ng-template matTabContent>
            <weather></weather>
        </ng-template>
    </mat-tab>
</mat-tab-group> -->

<nav mat-tab-nav-bar>
    <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.name}}
    </a>
</nav> 

<!--
[postsrouterLink]="search"
routerLinkActive #rla="routerLinkActive"
[active]="rla.isActive"> -->

<!-- <ul>
    <li><a href="home">Home</a></li>
    <li><a href="search">Search</a></li>
    <li><a href="weather">Weather</a></li>
</ul> -->

